<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/admin">Home</a> </li>  
            <li><a href="/add-user">Add User</a></li>
        </ul>
    </header>
    <h2>Add User</h2>
    <form action="/add-user" method="post">
   <p>
    <label>Name</label> <br>
    <input type="text" name="name" id="">
   </p>
   <p>
    <label>Phone</label> <br>
    <input type="tel" name="phone" id="">
   </p>
   <p>
    <label>Email</label> <br>
    <input type="email" name="email" id="">
   </p>
   <p>
    <label>Image</label> <br>
    <input type="url" name="image" id="">
   </p>
<button type="submit">Register</button>
    </form>
</body>
</html>